.heading{
    width: 100%;
    text-align: left;
}
.heading h3{
    display: inline; /*elementos em uma linha*/
}

.heading button{
    float: right; /* float move os elementos para a esquerda ou direita da página */
    border: 1px solid white;
}
#start ,#status{
    font-size: 22px;
}


/* AULA 139 */
h4{
    background-color: #f5f5f5;
    line-height: 2;
    margin: 0px;
}
.modal-dialog{
    width: 90%;
}
.instructionImage{
    display: inline-block;
    width: 45%;
}


/*AULA 141*/
video{
    background: url('game_console.png');
    background-size:cover;
    background-position: center;
    padding: 25px;
}


